import(igraph)
importFrom(diffuStats, diffuse)
importFrom(dnet, dRWR)
export (diffusion)
export (ppi2net)
export (rwr)
export (sp)
export (steiner_net)
export (ncluster)
export (divide_large_graph)
export (find_graph_with_genes)
export (dg)
